<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ERP4All</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Kunden
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vendors">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Liferanten
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="items">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Artikel
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="warehouses">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Warenhäuser
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stocks">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sells">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Verkäufe
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="purchases">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Einkäufe
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
